<a href="https://colab.research.google.com/github/ghazalaaa/NASA-Space-apps-challenges/blob/main/List_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Declare one list by using one integer , one float and two strings. After adding display 2nd element and check the data type of the list.

#Create one list with names of your five friends. Return the position of your best friend in the list.

# Give an example to show the difference between append() and extend() and insert !

# Access value 20 from the tuple

The given tuple is a nested tuple. write a Python program to print the value 20. 
tuple = ("Orange", [10, 20, 30], (5, 15, 25))